@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Fredoka&family=Sacramento&display=swap');

:root {
    --main-bg:  #d2c8ff;
    --second-bg: #d1dcff;
    --emp-color: #146414;
    --title-font: 'El Messiri', sans-serif;
    --text-font:  'Fredoka', sans-serif;
    --emp-font:  'Sacramento', cursive;
}
    body{
        background-color: var(--main-bg);
        font-family: var(--text-font);
    }
    .title{
        display: block;
        position: center;
        width: fit-content;
        background-color: var(--second-bg);
        font-family: var(--title-font);
        color: var(--emp-color);
        text-align: center;
        border-style: double;
    }